*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

section.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pesquisar{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.pesquisar h2{
    margin-top: 20px;
    font-size: 2rem;
}

section.pesquisar form div {
    margin-bottom: 15px;
}

section.pesquisar form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

section.pesquisar form input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

section.pesquisar form button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1247f7bb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

section.pesquisar form button:hover {
    filter: brightness(0.8);
}