<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
    <title>Home</title>
</head>
<body>
    <section class="menu">
        <div class="usuario">
            <img id="icone_jogador" alt="Ícone do Invocador">
            <h4 id="nome_jogador"></h4>
        </div>
    </section>
</body>
<script src="{{ url_for('static', filename='js/script_home.js') }}"></script>
</html>